<!-- <div>{{product.name}}</div><button (click)="addProductToCart(product)">+</button>
<div>{{product.price.toLocaleString('en-US', {style: 'currency', currency: 'USD'})}}</div> -->

<div class="body">
  <div class="image text-align-center">
    <img src="{{product?.image}}" />
  </div>
  <div class="title text-align-center">
    <h4>{{product?.name}}</h4>
  </div>
  <div class="desc text-align-center">
    <span>Category: {{product?.category}}</span><br>
    <span>Description: {{product?.description}}</span>
  </div>
  <div class="price text-align-center">
    <span><strong>{{product.price.toLocaleString('en-GB', {style: 'currency', currency: 'MYR'})}}</strong></span>
  </div>
  <div class="button text-align-center">
    <button mat-button color="primary" (click)="viewRating(product)">
      Rating
      <mat-icon class="star">star</mat-icon>
    </button>
    <button mat-button color="primary" [disabled]='product?.isDisable' (click)="addProductToCart(product)">
      Add to cart
    </button>
  </div>
</div>