.app {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 10px;
  padding: 10px;
}

@media (max-width: 800px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    padding: 10px;
  }
}
